.content{
  padding: 0 2%;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 1280px;
  width: 100%;
  z-index: 0;
}

.content h2{
  margin-top: 3rem;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1rem;

}

.flex .item_flex{
  padding: .5rem;
  width: calc(100% / 4);
}



